<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Iniciar Sesion</h2>
            <p class="lead mb-0">ingresa tu cuenta si ya tienes una creada</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="username" placeholder="Ingrese su nombre de usuario..." data-sb-validations="required" [(ngModel)]="usuario.username"/>
                        <label for="name">Nombre de usuario</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" name="password" placeholder="password123" data-sb-validations="required,password" [(ngModel)]="usuario.password"/>
                        <label for="email">Contraseña</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">La contraseña es requerida...</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Contraseña no valida.</div>
                    </div>
                    
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error al iniciar sesion!!!</div></div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-lg" id="submitButton" type="" (click)="findByUsernameAndPassword()">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</section>
