
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>
<div class="card bg-dark border-danger text-white my-4">

    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form #clienteForm ="ngForm">

            <div class="row mb-3">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-4">
                    <input type="text" name="nombre" class="form-control" [(ngModel)]="usuario.nombre">
                    <div class="alert alert-danger" *ngIf="errores?.nombre">
                        {{ errores.nombre }}
                      </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="usuario.apellido" name="apellido">
                    <div class="alert alert-danger" *ngIf="errores?.apellido">
                        {{ errores.apellido }}
                      </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="usuario.email" name="email">
                    <div class="alert alert-danger" *ngIf="errores?.email">
                        {{ errores.email }}
                      </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="dni" class="col-form-label col-sm-2">Dni</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="usuario.dni" name="dni">
                    <div class="alert alert-danger" *ngIf="errores?.dni">
                        {{ errores.dni }}
                      </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="usuario.telefono" name="telefono">
                    <div class="alert alert-danger" *ngIf="errores?.telefono">
                        {{ errores.telefono }}
                      </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="username" class="col-form-label col-sm-2">Nombre de usuario</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username">
                    <div class="alert alert-danger" *ngIf="errores?.username">
                        {{ errores.username }}
                      </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="password" class="col-form-label col-sm-2">Contraseña</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="usuario.password" name="password">
                    <div class="alert alert-danger" *ngIf="errores?.password">
                        {{ errores.password }}
                      </div>
                </div>
            </div>





            <div class="form-group">
                <div class="col-sm-6">
                
                    <button class="btn btn-primary" (click)="save()" *ngIf="!usuario.id">Crear</button>

                    <button class="btn btn-primary" (click)="update()" *ngIf="usuario.id">Editar</button>

                </div>
            </div>
        </form>
    </div>
</div>


<!-- 
    <div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a Employee</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                                <option>What is your Birthdate?</option>
                                                <option>What is Your old Phone Number</option>
                                                <option>What is your Pet Name?</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Apply as a Hirer</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                                <option>What is your Birthdate?</option>
                                                <option>What is Your old Phone Number</option>
                                                <option>What is your Pet Name?</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="`Answer *" value="" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
 -->